<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="snackbar.css" />
    <link rel="stylesheet" href="login.css" />
    <title>Login</title>
    <style>
      body {
        background: #999999;
        font-family: 'Helvetica', sans-serif;
      }
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;
      }
      .loginform {
        text-align: center;
        margin: auto;
      }
      .inputs {
        /* background: white; */
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app" v-cloak>
      <div id="snackbar"></div>
      <template v-if="accessToken === undefined">
        <div class="content">
          <div class="loginform">
            <div class="square"></div>
            <div class="inputs">
              <label>Username: </label>
              <input type="text" v-model="username" /><br /><br />
              <label>Password: </label>
              <input type="password" v-model="password" /><br /><br />
              <button type="button" @click="loginFunc(loginEndPt)">
                Log In
              </button>
            </div>
          </div>
        </div>
      </template>
      <template v-else>
        <p>Hi <b>{{ userData.FirstName }}</b>,</p>
        <ul>
          <li v-for="(value, key) in userData">{{ key }}: {{ value }}</li>
        </ul>
        <button type="button">Log Out</button>
      </template>
    </div>
    <script src="app.js"></script>
  </body>
</html>
